
body{
    background-color: #202735;
    scroll-behavior: smooth;
}

.container{

    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin:30px;
    width:auto;
    flex-wrap: wrap;
    


}

.video{

    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    
}

.frame{
    border-radius: 0.3em;


}

.YouTubeLink{
    width: 360;
    height: 30px;
    background: #ffffff00;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 1px;
    display: flex;
    justify-content:left;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}

a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
