
body{
    background-color: #202735;
}

.container{

    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin:30px;
    width:auto;
    flex-wrap: wrap;
    /* height: 100vh; */


}

.video{

    margin: 10px;
}
