
body{
    background-color: #303030;
}

.container{

    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin-top:10px;
    width:auto;
    flex-wrap: wrap;
    /* height: 100vh; */


}

.video{

    margin: 20px;
}
